IERealty/IERealty/Service References/IERealtyBookingService/Booking3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IERealtyDatabases.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IERealtyDatabases.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58370/Booking.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IERealtyDatabases.Databases.SqlServer" />
  <xs:complexType name="AppointmentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IERealtyDatabases.Databases.SqlServer" minOccurs="0" name="CustomerAppointment" nillable="true" type="q1:tblCustomerAppointment" />
      <xs:element minOccurs="0" name="RealtorAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RealtorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RealtorPhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppointmentModel" nillable="true" type="tns:AppointmentModel" />
</xs:schema>