IERealty/IERealty/Service References/IERealtyBookingService/Booking1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58370/Booking.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IERealtyDatabases.Models" />
  <xs:element name="BookAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IERealtyDatabases.Models" minOccurs="0" name="appointmentModel" nillable="true" type="q1:AppointmentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BookAppointmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewAppointmentDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewAppointmentDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IERealtyDatabases.Models" minOccurs="0" name="GetNewAppointmentDetailsResult" nillable="true" type="q2:AppointmentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>